<div ng-init="init()">
    <h1 class="page-header">
        智能分析>数学分析>相关性分析
    </h1>
    <ng-include ng-controller="headerController" src="'header/header.html'"></ng-include>
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-3">
            <span>参数设置</span>
            <div class="row">
                <div class="col-lg-12 pre-scrollable">
                    <table class=" table-bordered table-hover table small">
                        <thead>
                        <tr>
                            <th class="col-lg-3">字段名称</th>
                            <th class="col-lg-6">含义</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="{'info':chcekColSelected(col)}" ng-click="selectCol(col);"
                            ng-repeat="col  in cols">
                            <td>{{col.key}}</td>
                            <td style=" white-space:nowrap">{{col.value}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary btn-mini small" ng-click="addIn()" ng-if="selectedCol">添加输入</button>
            <button class="btn btn-info  btn-mini small" ng-click="delIn()" ng-if="selectedColRightIn">移除输入</button>
            <button class="btn btn-primary  btn-mini small" ng-click="addOut()" ng-if="selectedCol">添加输出</button>
            <button class="btn btn-info  btn-mini small" ng-click="delOut()" ng-if="selectedColRightOut">移除输出</button>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-12">
                <!--<button>选择>></button>-->
                <!--<button>取消<<</button>-->
                <table class="table-bordered table-hover table small">
                    <thead>
                    <tr>
                        <th class="col-lg-3">字段名称</th>
                        <th class="col-lg-6">含义</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{'info':chcekColSelected(col)}" ng-click="selectColRightIn(col);"
                        ng-repeat="col  in inCols">
                        <td>{{col.key}}</td>
                        <td style=" white-space:nowrap">{{col.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table-bordered table-hover table small">
                    <thead>
                    <tr>
                        <th class="col-lg-3">字段名称</th>
                        <th class="col-lg-6">含义</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{'info':chcekColSelected(col)}" ng-click="selectColRightOut(col);"
                        ng-repeat="col  in outCols">
                        <td>{{col.key}}</td>
                        <td style=" white-space:nowrap">{{col.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <button ng-click="show();">计算展现</button>
            </div>
        </div>


        <div class="col-lg-5" ng-show="showTable">
            <table class="table-bordered table-hover table small">
                <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="col in outCols">{{col.value}}</th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-init="outerIndex = $index;" ng-repeat="col  in inCols">
                    <td>{{col.value}}</td>
                    <td ng-class="{'bg-info':data.PValue[outerIndex][$index]<=0.05&&data.PValue[outerIndex][$index]>=-0.05}"
                        ng-repeat="doub in outCols track by $index" style="white-space:nowrap">
                        {{data.Correlation[outerIndex][$index]|numFormat:4}}
                    </td>
                </tr>
                </tbody>
            </table>
            <span class="">蓝色标记为显著性检验通过，可以否定无效假设</span>
        </div>
    </div>
</div>