<div>
    <h1 class="page-header">
        智能分析>单工序分析
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <select class="form-control" ng-change="selectChange();" ng-init="selectGT = 't_gt_0'" ng-model="selectGT">
                <option value="t_gt_0">45钢检化验</option>
                <option value="t_gt_1">40Cr钢检化验</option>
                <option value="t_L1_LG_CCM">L1连铸</option>
                <option value="t_L1_LG_BOF">L1转炉</option>
                <option value="t_L2_LD_RTDB_LOG_ADDITIONS">转炉加料信息</option>
                <option value="t_L1_LG_LF">LF精炼</option>
                <option value="t_L2_LF_HEATSSLGANA">LF钢渣成分</option>
                <option value="t_L2_LF_LSTCHRGDMAT">LF加料信息</option>
                <option value="t_L2_RH_HEATSGENINFO">RH炉次信息</option>
                <option value="t_L2_RH_HEATSCHRGDMAT">RH加料信息</option>
                <option value="t_L2_RH_HEATSSTLANA">RH钢水成分</option>
            </select>
        </div>
        <div class="col-lg-3">
            <button class="form-control btn btn-primary" ng-click="sub();">执行</button>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-3" ng-repeat="x in check">
            <input ng-false-value="" ng-model="CF.checkbox[$index]" ng-true-value="'{{check[$index]}}'" type="checkbox">
            <span>{{x}}</span>
        </div>
    </div>
    <div ng-show="show">
        <div class="col-lg-6 text-center">
            <div class="row text-center" ng-if="key != 'Correlation'&&key != 'PValue'&&key.indexOf('Variance')!=-1"
                 ng-repeat="(key,value) in result ">
                <span>{{key.replace('Variance','方差').replace('Deviation','偏差')}}</span>:<span>{{value}}</span>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="row text-center" ng-if="key != 'Correlation'&&key != 'PValue'&&key.indexOf('Deviation')!=-1"
                 ng-repeat="(key,value) in result ">
                <span>{{key.replace('Variance','方差').replace('Deviation','偏差')}}</span>:<span>{{value}}</span>
            </div>
        </div>
        <div class="col-lg-12 row">
            <table class="table-striped table-bordered table-hover table"
                   style="word-break:break-all; word-wrap:break-all;">
                <thead>
                <tr>
                    <th>相关性</th>
                    <th ng-if="xx" ng-repeat="xx in CF.checkbox track by $index">{{CF.checkbox[$index]}}</th>
                </tr>
                </thead>
                <tbody ng-init="outerIndex = $index;" ng-repeat="arr in result.Correlation">
                <tr>

                    <td>{{CF.checkbox.filter(filter1)[ outerIndex ]}}</td>
                    <td ng-class="{'bg-success':result.Correlation[outerIndex][$index]>0.8||result.Correlation[outerIndex][$index]<-0.8}"
                        ng-repeat="ar in arr">{{result.Correlation[outerIndex][$index]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 row">
            <table class="table-striped table-bordered table-hover table"
                   style="word-break:break-all; word-wrap:break-all;">
                <thead>
                <tr>
                    <th>检验值</th>
                    <th ng-if="xx" ng-repeat="xx in CF.checkbox track by $index">{{CF.checkbox[$index]}}</th>
                </tr>
                </thead>
                <tbody ng-init="outerIndex = $index;" ng-repeat="arr in result.PValue">
                <tr>

                    <td>{{CF.checkbox.filter(filter1)[ outerIndex ]}}</td>
                    <td ng-class="{'bg-success':result.PValue[outerIndex][$index]<0.05&&result.PValue[outerIndex][$index]>-0.05}"
                        ng-repeat="arr in result.PValue">{{result.PValue[outerIndex][$index]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div></div>
</div>