<div>
    <h1 class="page-header">
        智能分析>新钢种成分分析
    </h1>
    <div class="row">
        <div class="col-lg-2">钢种选择</div>
        <div class="col-lg-3">
            <select class="form-control" ng-model="selectGT" ng-init="selectGT = '0'" ng-change="GTchange();">
                <option value="0">45钢</option>
                <option value="1">40Cr钢</option>
                <option value="2">GCr15钢</option>
            </select>
        </div>
        <div class="col-lg-3">模型选择</div>
        <div class="col-lg-4">
            <select class="form-control">
                <option value="45钢-屈服强度线性模型">45钢-屈服强度线性模型</option>
                <option value="45钢-屈服强度非线性模型">45钢-屈服强度非线性模型</option>
                <option value="45钢-抗拉强度线性模型">45钢-抗拉强度线性模型</option>
                <option value="45钢-抗拉强度非线性模型">45钢-抗拉强度非线性模型</option>
                <option value="40Cr钢-屈服强度线性模型">40Cr钢-屈服强度线性模型</option>
                <option value="40Cr钢-屈服强度非线性模型">40Cr钢-屈服强度非线性模型</option>
                <option value="40Cr钢-抗拉强度线性模型">40Cr钢-抗拉强度线性模型</option>
                <option value="40Cr钢-抗拉强度非线性模型">40Cr钢-抗拉强度非线性模型</option>
                <option value="GCr15钢-屈服强度线性模型">GCr15钢-屈服强度线性模型</option>
                <option value="GCr15钢-屈服强度非线性模型">GCr15钢-屈服强度非线性模型</option>
                <option value="GCr15钢-抗拉强度线性模型">GCr15钢-抗拉强度线性模型</option>
                <option value="GCr15钢-抗拉强度非线性模型">GCr15钢-抗拉强度非线性模型</option>
            </select>
        </div>
    </div>
    <h5 class="page-header"></h5>
    <div class="col-lg-12">
        <table class="table-striped table-bordered table-hover table-responsive table">
            <thead>
            <tr>
                <th>化学成分</th>
                <th>C</th>
                <th>Si</th>
                <th>Mn</th>
                <th>P</th>
                <th>S</th>
                <th>Cr</th>
                <th>Ni</th>
                <th>Cu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="10%">标准范围</td>
                <td>0.42~0.50</td>
                <td>0.17~0.37</td>
                <td>0.50~0.80</td>
                <td>≤0.035</td>
                <td>≤0.035</td>
                <td>≤0.25</td>
                <td>≤0.3</td>
                <td>≤0.2</td>

            </tr>
            <tr>
                <td>生产数据范围</td>
                <td>{{hxcf.minc}}~{{hxcf.maxc}}</td>
                <td>{{hxcf.minSi}}~{{hxcf.maxSi}}</td>
                <td>{{hxcf.minMn}}~{{hxcf.maxMn}}</td>
                <td>{{hxcf.minP}}~{{hxcf.maxP}}</td>
                <td>{{hxcf.minS}}~{{hxcf.maxS}}</td>
                <td>{{hxcf.minCr}}~{{hxcf.maxCr}}</td>
                <td>{{hxcf.minNi}}~{{hxcf.maxNi}}</td>
                <td>{{hxcf.minCu}}~{{hxcf.maxCu}}</td>
            </tr>
            <tr>
                <td>自定义含量</td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input1" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input2" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input3" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input4" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input5" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input6" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input7" step="0.001"
                           type="number"></td>
                <td><input class="form-control" ng-change="refreshEcharts();" ng-model="input8" step="0.001"
                           type="number"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <button class="btn btn-primary input-lg btn-block" ng-click="open1()" type="button">模型分析</button>
    </div>
    <h5 class="page-header"></h5>
    <div ng-show="show">
        <div class="col-lg-12" id="echartsMain" style="height: 300px;"></div>

    </div>
</div>