<div ng-init="init();">
    <h1 class="page-header">系统分析组件>图形分析>运行图</h1>
    <ng-include ng-controller="headerController" src="'header/header.html'"></ng-include>
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-6">
            <span>参数设置</span>
            <div class="row">
                <div class="col-lg-6 pre-scrollable">
                    <table class=" table-bordered table-hover table small">
                        <thead>
                        <tr>
                            <th class="col-lg-6">字段名称</th>
                            <!--<th class="col-lg-6">含义</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class='{info: chkCol(col)}' ng-click="chkTr(col)" ng-repeat="col in cols">
                            <!--<td>{{col.key}}</td>-->
                            <td style="white-space: nowrap">{{col.value}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <button class=" btn-primary btn-xs" ng-click="addUp();"
                                    style="white-space: nowrap;margin-bottom: 3px">选择>>
                            </button>
                            <button class=" btn-primary btn-xs" ng-click="delUp();" style="white-space: nowrap"><
                                <取消
                            </button>
                        </div>
                        <span>Y轴字段（多个）</span>
                        <div class="col-lg-8">
                            <table class="table-bordered table-hover table small"
                                   ng-init="initCols();">
                                <thead>
                                <tr>
                                    <th class="col-lg-6">字段名称</th>
                                    <!--<th class="col-lg-6">含义</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-class='{info: chkCol(col)}' ng-click="chkTr(col)" ng-repeat="col in upCols">
                                    <!--<td>{{col.key}}</td>-->
                                    <td style="white-space: nowrap">{{col.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <button class=" btn-primary btn-xs" ng-click="addDown();"
                                    style="white-space: nowrap;margin-bottom: 3px">选择>>
                            </button>
                            <button class=" btn-primary btn-xs" ng-click="delDown();" style="white-space: nowrap"><
                                <取消
                            </button>
                        </div>
                        <span>X轴字段（一个）</span>
                        <div class="col-lg-8">
                            <table class="table-bordered table-hover table small"
                                   ng-init="initCols();">
                                <thead>
                                <tr>
                                    <th class="col-lg-6">字段名称</th>
                                    <!--<th class="col-lg-6">含义</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-class='{info: chkCol(col)}' ng-click="chkTr(col)"
                                    ng-repeat="col in downCols">
                                    <!--<td>{{col.key}}</td>-->
                                    <td style="white-space: nowrap">{{col.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span>上控制限</span> <input class="form-control" ng-model="KZX1">
                    <span>下控制限</span> <input class="form-control" ng-model="KZX2">
                    <div class="col-lg-4 col-lg-offset-4">
                        <button class="btn input-sm btn-info" ng-click="echartsshow();">图形展现</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="echarts1" style="height: 400px"></div>
        </div>
    </div>
</div>