<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unissoft.test.mapper.inceptor.XSMXMapper">
    <select id="selectList" resultType="java.util.HashMap">
        select
        <foreach collection="colNames" item="colName" separator=",">
            ${colName}
        </foreach>
        from ${tableName}
        <where>

            <foreach collection="colNames" item="colName" separator=" and ">
                ${colName} is not null
            </foreach>

            <if test="GZ != null and GZ != ''">
                and stl_grd_cd = #{GZ}
            </if>
        </where>

    </select>
    <select id="selectListWhere" resultType="java.util.HashMap">
        select
        <foreach collection="colNames" item="colName" separator=",">
            ${colName}
        </foreach>
        from ${tableName}
        <where>
            <!--<foreach collection="colNames" item="colName" separator=" and ">
                ${colName} is not null
            </foreach>-->
            <if test="sqlStr != null and sqlStr != '' ">
                ${sqlStr}
            </if>
            <if test="GZ != null and GZ != ''">
                and stl_grd_cd = #{GZ}
            </if>
        </where>

    </select>
    <select id="selectListGroupBy" resultType="com.unissoft.test.entity.Xsmx_box">
        select
        COLLECT_LIST(${colName}) a,${groupColName} b
        from ${tableName}
        <where>
            ${colName} is not null
        </where>
        group by ${groupColName}
    </select>
    <!--<select id="selectListMax" resultType="java.util.HashMap">
        SELECT  min(${colName}) min,max(${colName}) max
        from ${tableName}
        <where>
            ${colName} is not null
        </where>
    </select>-->
    <select id="selectCount" resultType="java.lang.String">
        SELECT count(*)
        from ${tableName}
        <where>
            ${whereSql}
            <if test="GZ != null and GZ != ''">
                and stl_grd_cd = #{GZ}
            </if>
        </where>
    </select>
    <select id="selectListDistinct" resultType="java.lang.String">
        SELECT  DISTINCT(${colName})
        from ${tableName}
    </select>
    <select id="selectColName" resultType="java.util.HashMap">
      use system;
      SELECT * FROM columns_v WHERE database_name = 'bdia' AND lower(table_name) = #{tableName};
      use bdia;
    </select>
    <select id="GZList" resultType="java.lang.String">
        select stl_grd_name from stl_grd;
    </select>
</mapper>