<div>
    <h1 class="page-header">
        智能分析>生产数据统计分析
    </h1>
    <div class="row">
        <div class="col-lg-2">数据时间</div>
        <div class="col-lg-5" style="vertical-align: middle;">
            <p class="input-group col-lg-5" style="float: left;">
                <input class="form-control input-sm" close-text="Close" datepicker-options="dateOptions"
                       is-open="popup1.opened"
                       ng-model="dt1" ng-required="true" type="text" uib-datepicker-popup/>
                <span class="input-group-btn">
            <button class="btn btn-default input-sm" ng-click="open1()" type="button"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
            <span class="col-lg-2 text-center">至</span>
            <p class="input-group col-lg-5">
                <input class="form-control input-sm" close-text="Close" datepicker-options="dateOptions"
                       is-open="popup2.opened"
                       ng-model="dt2" ng-required="true" type="text" uib-datepicker-popup/>
                <span class="input-group-btn">
            <button class="btn btn-default input-sm" ng-click="open2()" type="button"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
        <div class="col-lg-1">钢种</div>
        <div class="col-lg-2">

            <select class="form-control" ng-model="selectGT" ng-init="selectGT = '0'">
                <option value="0">45钢</option>
                <option value="1">40Cr钢</option>
                <!--<option value="2">GCr15钢</option>-->
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary input-sm" type="button" ng-click="sel();">查询</button>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-2">数据概况</div>
        <div class="col-lg-10">总记录数：{{gtmx.length}}</div>

    </div>
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-5" ng-show="false"><span>数据量分布-按天</span></div>
        <div class="col-lg-5"><span>按化学成分占比分布</span><select ng-change="selectChange();" ng-model="select1"
                                                            ng-options="x.code for x in gt">
            <!--<option>C</option>-->
            <!--<option>Si</option>-->
            <!--<option>Mn</option>-->
            <!--<option>P</option>-->
            <!--<option>S</option>-->
            <!--<option>Cr</option>-->
            <!--<option>Ni</option>-->
            <!--<option>Cu</option>-->
        </select></div>
        <div class="col-lg-7"><span>化学成分数值分布</span></div>
    </div>
    <div class="row">
        <div class="col-lg-5" id="echarts1" style="height:300px" ng-show="false"></div>
        <div class="col-lg-5" id="echarts2" style="height:300px"></div>
        <div class="col-lg-7" id="echarts3" style="height:300px"></div>
    </div>
    <h5 class="page-header"></h5>
    <div class="row">
        <div class="col-lg-2"> 模型分析</div>
        <div class="col-lg-4">
            <select ng-change="mxChange();" ng-init="mx = 'l_Rel'" ng-model="mx">
                <option ng-if="selectGT =='0'" value="l_Rel">45钢-屈服强度线性模型</option>
                <option ng-if="selectGT == '0'" value="nl_Rel">45钢-屈服强度非线性模型</option>
                <option ng-if="selectGT == '0'" value="l_Rm">45钢-抗拉强度线性模型</option>
                <option ng-if="selectGT == '0'" value="nl_Rm">45钢-抗拉强度非线性模型</option>
                <option ng-if="selectGT == '1'" value="l_Rel">40Cr钢-屈服强度线性模型</option>
                <option ng-if="selectGT == '1'" value="nl_Rel">40Cr钢-屈服强度非线性模型</option>
                <option ng-if="selectGT == '1'" value="l_Rm">40Cr钢-抗拉强度线性模型</option>
                <option ng-if="selectGT == '1'" value="nl_Rm">40Cr钢-抗拉强度非线性模型</option>
                <!--<option value="GCr15钢-屈服强度线性模型">GCr15钢-屈服强度线性模型</option>-->
                <!--<option value="GCr15钢-屈服强度非线性模型">GCr15钢-屈服强度非线性模型</option>-->
                <!--<option value="GCr15钢-抗拉强度线性模型">GCr15钢-抗拉强度线性模型</option>-->
                <!--<option value="GCr15钢-抗拉强度非线性模型">GCr15钢-抗拉强度非线性模型</option>-->
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary input-sm" ng-click="loadData();" type="button">数据加载</button>
        </div>
        <div class="col-lg-4 ">
            <button class="btn btn-primary input-sm pull-right" ng-click="clickChange();" ng-show="isshowbutton"
                    type="button">
                切换图表
            </button>
        </div>
    </div>
    <div class="row col-lg-12 table-responsive">
        <table class="table-striped table-bordered table-hover table" id='table'
               ng-show="isshow" style="word-break:break-all; word-wrap:break-all;">
            <thead>
            <tr>
                <th>序号</th>
                <th>钢种名称</th>
                <!--<th>数据时间</th>-->
                <th>C</th>
                <th>Si</th>
                <th>Mn</th>
                <th>P</th>
                <th>S</th>
                <th>Cr</th>
                <th>Ni</th>
                <th>Cu</th>
                <th>实际{{tableHead}}</th>
                <th>模型{{tableHead}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="model in list">
            <tr>
                <td>{{$index}}</td>
                <td ng-if="selectGT == '0'">45钢</td>
                <td ng-if="selectGT == '1'">40Cr钢</td>
                <td>{{model.c}}</td>
                <td>{{model.si}}</td>
                <td>{{model.mn}}</td>
                <td>{{model.p}}</td>
                <td>{{model.s}}</td>
                <td>{{model.cr}}</td>
                <td>{{model.ni}}</td>
                <td>{{model.cu}}</td>
                <td ng-if="mx=='l_Rel'">{{model.rel}}</td>
                <td ng-if="mx=='l_Rel'">{{model.l_Rel}}</td>
                <td ng-if="mx=='nl_Rel'">{{model.rel}}</td>
                <td ng-if="mx=='nl_Rel'">{{model.nl_Rel}}</td>
                <td ng-if="mx=='l_Rm'">{{model.rm}}</td>
                <td ng-if="mx=='l_Rm'">{{model.l_Rm}}</td>
                <td ng-if="mx=='nl_Rm'">{{model.rm}}</td>
                <td ng-if="mx=='nl_Rm'">{{model.nl_Rm}}</td>

            </tr>
            </tbody>
        </table>


        <div class="pull-right" ng-show="isshow">
        <ul boundary-links="true" class="pagination-sm" first-text="&laquo;" last-text="&raquo;" ng-change="page()"
            next-text="&rsaquo;" max-size="10" ng-model="currentPage" previous-text="&lsaquo;" total-items="totalItems"
            items-per-page="5"
            uib-pagination></ul>
    </div>
    </div>
    <div class="col-lg-12" id="echarts4" style="height: 400px"></div>
</div>