<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unissoft.test.mapper.inceptor2.SSJKMapper">
    <!--查询ccm-->
    <select id="queryCCMHeaderInfo" resultType="java.util.HashMap">
        select t2.HEATNO as luhao , t2.ST_NO as gangzhong , t2.CCM_SIZE as duanmian , t1.P_SUM as target
        from LG_BQA_TECHCAST_S2_HB t1 inner join
        (select col12 as HEATNO , col15 as ST_NO , col17 as CCM_SIZE , col38 as FMATCODE , col17 , col37 from L2_CCM_TAB2_HB
        where col12 = (select col2 from L2_CCM_TAB22_HB
        where col1 = (select col1 from L2_CCM_TAB21_HB
        where col4 = '93' and FURNACENO = #{lzNum}) and FURNACENO = #{lzNum}) and FURNACENO = #{lzNum}) t2 on t1.FMATCODE = t2.FMATCODE and t1.SLAB_THK = t2.col17
    </select>
    <!--查询bof-->
    <select id="queryBOFHeaderInfo" resultType="java.util.HashMap">
        select HEAT_ID as luhao , STEEL_GRADE_ID as gangzhong , REAL_START as lucikaishishijian
        from L2_LD_PGM_AREAS_HB where proc_id = (SELECT max(proc_id)
        FROM L2_LD_PGM_AREAS_HB WHERE FURNACENO=#{lzNum}) AND FURNACENO=#{lzNum};
    </select>
    <!--查询lf-->
    <select id="queryLFHeaderInfo" resultType="java.util.HashMap">
        select HeatNo as luhao , CurGrade as gangzhong , CurSteelWei as gangshuizhongliang , CurSlagWei as gangzhazhongliang , StrtTime as lucikaishishijian
        from L2_LF_CurHeatsPool_HB
        where FURNACENO = #{lzNum} and TREATPOS = #{pos};
    </select>

    <!--查询rf-->
    <select id="queryRHHeaderInfo" resultType="java.util.HashMap">
        select HeatNo as luhao , CURGRDE as gangzhong , StlWgt as gangshuizhongliang , SlgWgt as gangzhazhongliang , HeatStrt as lucikaishishijian
        from L2_RH_CurHeatPool_HB
        where FURNACENO = #{lzNum} and POSNR = #{pos};
    </select>


</mapper>